@font-face {
    font-family: 'myriad_set_proultralight';
    src: url('fonts/myriad_set_pro_100_ultralight-webfont.eot');
    src: url('fonts/myriad_set_pro_100_ultralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/myriad_set_pro_100_ultralight-webfont.woff2') format('woff2'),
         url('fonts/myriad_set_pro_100_ultralight-webfont.woff') format('woff'),
         url('fonts/myriad_set_pro_100_ultralight-webfont.ttf') format('truetype'),
         url('fonts/myriad_set_pro_100_ultralight-webfont.svg#myriad_set_proultralight') format('svg');
    font-weight: normal;
    font-style: normal;

}
*{
  font-family: 'myriad_set_proultralight';
  margin:0;
  border: 0;
  list-style-type: none;
  outline: none;


}
body{
  background-color: white;
}
a{
  text-decoration: none;
  border: 10px;
  color: white;
}
select{
  background-color: black;
  color: white;
}
container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.element{
display:inline;
}
.navbar{
  position:fixed;

  height:60px;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}
.output{
  display:block;
  width:80%;
  margin-left: auto;
  margin-right: auto;
  color:black;
}
.chart{
  display:flex;
  flex-direction: row;

  margin-left: auto;
  margin-right: auto;

}

ul{
  width:80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;;
  padding-left:0px;
}
li{
  padding-left: 0px;
  padding-right:30px;
}
.navbar-nav{
  background-color: blue;
}
.navbar-header{
  background-color: green;
}
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s 8;
    -moz-animation: blink 0.7s 8;
    animation: blink 0.7s 8;
    animation-fill-mode: forwards;
}
@keyframes blink{
    0% { opacity:0; }
    50% { opacity:1; }
    100% { opacity:0; }
}
@-webkit-keyframes blink{
    0% { opacity:0; }
    50% { opacity:1; }
    100% { opacity:0; }
}
@-moz-keyframes blink{
    0% { opacity:0; }
    50% { opacity:1; }
    100% { opacity:0; }
}
section{
  display: flex;
  flex-direction: row-reverse;

}
.key{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

footer{
  position: fixed;
  right: 0;
  bottom:0;
}
