@font-face {
  font-family: 'myriad_set_proultralight';
  src: url('fonts/myriad_set_pro_100_ultralight-webfont.eot');
  src: url('fonts/myriad_set_pro_100_ultralight-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/myriad_set_pro_100_ultralight-webfont.woff2') format('woff2'), url('fonts/myriad_set_pro_100_ultralight-webfont.woff') format('woff'), url('fonts/myriad_set_pro_100_ultralight-webfont.ttf') format('truetype'), url('fonts/myriad_set_pro_100_ultralight-webfont.svg#myriad_set_proultralight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('fonts/MyriadPro-Regular.otf');
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes colors {
  0% {
    background-color: red;
  }
  25% {
    background-color: purple;
  }
  50% {
    background-color: green;
  }
  75% {
    background-color: yellow;
  }
  100% {
    background-color: blue;
  }
}
@-webkit-keyframes colors {
  0% {
    background-color: red;
  }
  25% {
    background-color: purple;
  }
  50% {
    background-color: green;
  }
  75% {
    background-color: yellow;
  }
  100% {
    background-color: blue;
  }
}
@-moz-keyframes colors {
  0% {
    background-color: red;
  }
  25% {
    background-color: purple;
  }
  50% {
    background-color: green;
  }
  75% {
    background-color: yellow;
  }
  100% {
    background-color: blue;
  }
}
@keyframes colorsR {
  0% {
    background-color: purple;
  }
  25% {
    background-color: green;
  }
  50% {
    background-color: yellow;
  }
  75% {
    background-color: blue;
  }
  100% {
    background-color: red;
  }
}
@-webkit-keyframes colorsR {
  0% {
    background-color: purple;
  }
  25% {
    background-color: green;
  }
  50% {
    background-color: yellow;
  }
  75% {
    background-color: blue;
  }
  100% {
    background-color: red;
  }
}
@-moz-keyframes colorsR {
  0% {
    background-color: purple;
  }
  25% {
    background-color: green;
  }
  50% {
    background-color: yellow;
  }
  75% {
    background-color: blue;
  }
  100% {
    background-color: red;
  }
}
* {
  margin: 0;
  border: 0;
  list-style-type: none;
  outline: none;
}
html {
  font-family: 'MyriadPro-Regular';
}
body {
  background-color: white;
}
a {
  text-decoration: none;
  color: white;
}
div.navbar-brand:hover {
  -webkit-animation: colors 5s infinite;
  -moz-animation: colors 5s infinite;
  animation: colors 5s infinite;
  animation-fill-mode: forwards;
  cursor: pointer;
}
div.reset:hover {
  -webkit-animation: colorsR 5s infinite;
  -moz-animation: colorsR 5s infinite;
  animation: colorsR 5s infinite;
  animation-fill-mode: forwards;
  cursor: pointer;
}
.navbar-brand {
  border: 10px;
}
select {
  background-color: black;
  color: white;
  font-family: 'myriad_set_proultralight';
  font-size: 20px;
}
container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.element {
  display: inline;
  font-family: 'myriad_set_proultralight';
  font-size: 20px;
}
.element br {
  display: none
}
.navbar {
  position: fixed;
  height: 60px;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}
.output {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: black;
  font-family: 'MyriadPro-Regular';
}
.chart {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}
ol {
  padding: 0px;
  height: 110px;
}
.container {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
}
ul {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  ;
  padding-left: 0px;
}
li {
  padding-left: 0px;
  padding-right: 30px;
}
.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s 8;
  -moz-animation: blink 0.7s 8;
  animation: blink 0.7s 8;
  animation-fill-mode: forwards;
}
section {
  display: flex;
  flex-direction: row-reverse;
}
.keynav {
  flex-direction: row;
}
.keyelem {
  display: none;
  padding-left: 10px;
  padding-right: 10px;
}
.key {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  font-family: 'myriad_set_proultralight'
}
footer {
  display: none;
  position: fixed;
  right: 0;
  bottom: 0;
}
.hide {
  display: none;
  color: white;
}
.spacer {
  width: auto;
  height: 60px;
}
div.navbar-brand {
  background-color: red;
  height: 60px;
  width: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
div.reset {
  background-color: purple;
  height: 60px;
  width: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.Watson {
  font-family: "HelveticaNeue-Light";
  font-size: 10px;
}
span {
  font-family: "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold";
}
.mobile {
  width: 30px;
  height: 30px;
}
.number {
  text-align: center;
}
.bar {
  height: 30px;
  transition: .5s;
}
.hover {
  height: 50px;
  transition: .5s;
}
.anger {}
.disgust {}
.fear {}
.joy {}
.sadness {}
.nhide {
  color: transparent;
  transition: .5s;
}
.show {
  color: black;
  transition: .5s;
}
@media all and (max-width:630px) {
  li {
    padding-left: 0px;
    padding-bottom: 15px;
  }
  .hide {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 10px;
    font-family: 'myriad_set_proultralight';
    -ms-transform: rotate(-90deg);
    /* IE 9 */
    -webkit-transform: rotate(-90deg);
    /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
    padding-right: 40px;
  }
  .key {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
    font-size: 10px;
  }
  #black {
    color: black;
  }
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .navbar {
    height: 210px
  }
  .spacer {
    width: auto;
    height: 210px;
  }
  container {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  li {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 15px;
  }
  .form-group {
    padding-left: 10px;
    padding-right: 10px;
  }
  div.navbar-brand {
    background-color: red;
    height: 43px;
    width: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  div.reset {
    background-color: purple;
    height: 43px;
    width: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .Watson {
    position: fixed;
    background-color: black;
    height: 50px;
    width: 30px;
    right: 0;
    bottom: 0;
    font-size: 8px;
  }
  footer {
    position: fixed;
    right: 0;
    bottom: 50px;
  }
  .mobile {
    width: 30px;
    height: 50px;
    display: none;
  }
  .keyelem {
    display: block;
  }
}
ol {
  padding: 0px;
  height: 130px;
}
div.navbar-brand:hover {
  -webkit-animation: colors 5s;
  -moz-animation: colors 5s;
  animation: colors 5s;
  animation-fill-mode: forwards;
  cursor: pointer;
}
div.reset:hover {
  -webkit-animation: colorsR 5s;
  -moz-animation: colorsR 5s;
  animation: colorsR 5s;
  animation-fill-mode: forwards;
  cursor: pointer;
}
