*{
  font-family: futura;
  margin:0;
  border: 0;
  list-style-type: none;
  outline: none;
  color: white;

}
body{
  background-color: white;
}
a{
  text-decoration: none;
  border: 10px;
}
select{
  background-color: black;
}
container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.element{
display:inline;
}
.navbar{
  height:60px;
  width: auto;
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.output{
  display:block;
  width:80%;
  margin-left: auto;
  margin-right: auto;
  color:black;
}
ul{
  width:80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;;
  padding-left:0px;
}
li{
  padding-left: 0px;
  padding-right:30px;
}
.navbar-nav{
  background-color: blue;
}
.navbar-header{
  background-color: green;
}
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s 8;
    -moz-animation: blink 0.7s 8;
    animation: blink 0.7s 8;
    animation-fill-mode: forwards;
}
@keyframes blink{
    0% { opacity:0; }
    50% { opacity:1; }
    100% { opacity:0; }
}
@-webkit-keyframes blink{
    0% { opacity:0; }
    50% { opacity:1; }
    100% { opacity:0; }
}
@-moz-keyframes blink{
    0% { opacity:0; }
    50% { opacity:1; }
    100% { opacity:0; }
}
